.ipynb_checkpoints/
__pycache__/
.DS_Store
.idea/


venv/
pyNA.egg-info/

pyNA/run/reports/
pyNA/run/coloring_files/
pyNA/run/.ipynb_checkpoints/

pyNA/cases/*
!pyNA/cases/nasa_stca_standard
!pyNA/cases/stca

**/n2.html
**/dymos_solution.db

